.login-button {
  -fx-background-color: #007bff;
  -fx-text-fill: white;
  -fx-border-color: #0067cc;
  -fx-font-weight:bold;
  -fx-border-radius: 5px;
}

.title-label {

  -fx-text-fill: blue;
  -fx-border-color: #0067cc;
  -fx-font-weight:bold;

}

.danger-button {
  -fx-background-color: red;
  -fx-text-fill: white;
  -fx-border-color: #0067cc;
  -fx-font-weight:bold;
  -fx-border-radius: 5px;
}

.container-pane {
  -fx-background-color: #ffffff;
  -fx-text-fill: white;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 10, 0.5, 2, 2);
  -fx-border-color: #0067cc;
  -fx-border-radius: 5px;
}
.input-field {
  -fx-background-color: #ffffff;
  -fx-text-fill: black;
  -fx-border-color: #0067cc;
  -fx-border-radius: 5px;
}